 * {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    margin-bottom: 5px;
}

header h1 {
    color: white;
    display: inline-block; /*to counter horizontal scroll due to relative position*/
    padding: 20px;
    font-size: 80px;
    font-family: monospace;
    position: relative;
    left: 90px; 
}

.grid {
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: dense;
    margin: 2px;
}

.M {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.S {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.L {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.image {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .5s;
    border-radius: 7px;
}

.image img:hover {
    transform: scale(1.03);
    z-index: 998;
}


nav {
    position: sticky;
    top: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    z-index: 1000;
}

nav div {
    display: inline;
}


#searchInput {
    border-style: solid;
    border-color: black;
    font-family: monospace;
    background-color: white;
    margin-left: 10px;
    width: 60%;
    height: 30px;
    padding-left: 15px;
    border-radius: 20px;
    border-width: 5px;
    font-size: 18px;
}

.size-controller select {
    font-family: monospace;
    background-color: white;
    text-align: center;
    width: 10%;
    height: 35px;
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
    font-size: 18px;
}

#size:hover{
    cursor: pointer;
}

#sort{
    font-family: monospace;
    text-align: center;
    width: 10%;
    height: 35px;
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
    font-size: 18px;
    background-color: white;
} 

#sort:hover{
    cursor: pointer;
} 

#size-label{
    font-size: 25px;
    margin-left: 50px;
    font-family: monospace;
    font-weight: bold;
}

#sort-label{
    font-size: 25px;
    margin-left: 40px;
    font-family: monospace;
    font-weight: bold;
}

.title{
    text-align: center;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 70%;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(255, 255 , 255, 0.8);
    color: rgb(0, 0, 0);
    z-index: -1;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
}

.image:hover .title{
    transform: scale(1.03);
    z-index: 999;
}


.S .title{
    font-size: 12px;
}

.L .title{
    font-size: 22px;
}